[submodule "cpu/stack"]
	path = cpu_emulator/stack
	url = git@github.com:filaka771/Stack.git
[submodule "src/cpu_emulator/stack"]
	path = src/common/stack
	url = git@github.com:filaka771/Stack.git
[submodule "src/common"]
	path = src/common
